

table, th, td {
        border: 2px solid rgb(247, 208, 215);
        height: 40px;
    }

table {
        width: 75%;
    }

th  {
        background-color: #7e025f;
        color: white;
    }

td  {
        background-color: #e47fcb;
        color: black;
    }